:root {
    --title-font-family: 'Seymour One', sans-serif;
    --main-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Roboto', sans-serif;
    --main-text-color: #757575;
    --white: #FFFFFF;
    --black: #000000;
    --secondary-black-color: #131313;
    --background-color: #84a178;
    --icon-fill: #F8D24E;
    --main-button-color: #F8D24E;
    --second-button-color: #0A8817;
    --disable-button-color: #ABABAB;
    --franchise-button-color: #FCFCFC;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}