
<section class="advantages-section">
  <div class="container">
      <ul class="advantages-list">
        <li class="advantages-list__item">
          <div class="img-wrapper">
      
            <picture> 
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/Desktop/advantages/cow-icon.png   1x,
                ./images/Desktop/advantages/cow-icon@2x.png 2x
              " type="img/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/Tablet/advantages/cow-tablet.png    1x,
                ./images/Tablet/advantages/cow-tablet@2x.png 2x
              " type="img/png"
            />

            <source
              media="(max-width: 767px)"
              srcset="
            ./images/Mobile/advantages/cow-icon-mobile.png    1x,
                ./images/Mobile/advantages/cow-icon-mobile@2x.png 2x
              " type="img/png"
            />
            <img
              src="./images/Mobile/advantages/cow-icon-mobile.png"
              alt="cow-icon"
              class="advantages-image"
            />
          </picture> 
         

          </div>
          <h3 class="advantages-title">721</h3>
          <p class="advantages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list__item">
          <div class="img-wrapper">
            <picture>
            <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/advantages/weight-icon.png   1x,
              ./images/Desktop/advantages/weight-icon@2x.png 2x
            " type="img/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/advantages/weight-tablet.png    1x,
              ./images/Tablet/advantages/weight-tablet@2x.png 2x
            " type="img/png"
          />

          <source
            media="(max-width: 767px)"
            srcset="
          ./images/Mobile/advantages/weight-icon-mobile.png    1x,
              ./images/Mobile/advantages/weight-icon-mobile@2x.png 2x
            " type="img/png"
          />
          <img
            src="./images/Mobile/advantages/weight-icon-mobile.png"
            alt="weight-image"
            class="advantages-image"
          />
        </picture>
       
          </div>
          <h3 class="advantages-title">16kg</h3>
          <p class="advantages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list__item">
          <div class="img-wrapper">

<picture> 
            <source
            media="(min-width: 1200px)"
            srcset="
              ./images/Desktop/advantages/icecream-icon.png   1x,
              ./images/Desktop/advantages/icecream-icon@2x.png 2x
            " type="img/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/Tablet/advantages/ice-cream-tablet.png    1x,
              ./images/Tablet/advantages/ice-cream-tablet@2x.png 2x
            " type="img/png"
          />

          <source
            media="(max-width: 767px)"
            srcset="
          ./images/Mobile/advantages/ice-cream-icon-mobile.png    1x,
              ./images/Mobile/advantages/ice-cream-icon-mobile@2x.png 2x
            " type="img/png"
          />
          <img
            src="./images/Mobile/advantages/ice-cream-icon-mobile.png"
            alt="ice-cream-image"
            class="advantages-image"
          />
        </picture>
          </div>
          <h3 class="advantages-title">84</h3>
          <p class="advantages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
</div>
</section>