<section class="section customer-reviews-section">
  <h2 class="customer-reviews">Customer-Reviews</h2>
  <div class="customer-reviews__container">
    <div class="customer-reviews__slider">
      <div class="customer-reviews__slide">
        <img
          srcset="
            ./images/Mobile/customer-reviews/emily-los-angeles.png    1x,
            ./images/Mobile/customer-reviews/emily-los-angeles@2x.png 2x
          "
          src="./images/Mobile/customer-reviews/emily-los-angeles.png"
          alt="foto Emily"
          class="customer-reviews__foto"
        />
        <p class="customer-reviews__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
      </div>
      <div class="customer-reviews__slide">
        <img
          srcset="
            ./images/Mobile/customer-reviews/bryan-new-york.png    1x,
            ./images/Mobile/customer-reviews/bryan-new-york@2x.png 2x
          "
          src="./images/Mobile/customer-reviews/bryan-new-york.png"
          alt="foto Bryan"
          class="customer-reviews__foto"
        />
        <p class="customer-reviews__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="customer-reviews__name">Bryan, New-York</p>
      </div>
      <div class="customer-reviews__slide">
        <img
          srcset="
            ./images/Mobile/customer-reviews/diana-chicago.png    1x,
            ./images/Mobile/customer-reviews/diana-chicago@2x.png 2x
          "
          src="./images/Mobile/customer-reviews/diana-chicago.png"
          alt="foto Diana"
          class="customer-reviews__foto"
        />
        <p class="customer-reviews__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="customer-reviews__name">Diana, Chicago</p>
      </div>
      <div class="customer-reviews__slide">
        <img
          srcset="
            ./images/Mobile/customer-reviews/sam-los-angeles.png    1x,
            ./images/Mobile/customer-reviews/sam-los-angeles@2x.png 2x
          "
          src="./images/Mobile/customer-reviews/sam-los-angeles.png"
          alt="foto Sam"
          class="customer-reviews__foto"
        />
        <p class="customer-reviews__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <p class="customer-reviews__name">Sam, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
