<header class="header">
  <div class="header__box container">
    <nav class="page-nav">
      <a class="header__logo" href="./index.html">
        <img
          class="header__logo-img"
          src="./images/logo.png"
          alt="company logo"
        />
      </a>
      <ul class="header__menu list">
        <li class="header__menu-item">
          <a class="header__menu-link" href="./index.html">Home</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#how-its-made">How it's made?</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#products">Our products</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons">
      <button type="button" class="mobile-menu-open" data-menu-open>
        <svg class="mobile-menu-icon" width="32px" height="32px">
          <use href="./images/sprite.svg#icon-mobile-menu"></use>
        </svg>
      </button>
      <button type="button" class="header__button" data-modal-open>
        Buy now
        <svg class="header__button-icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-1"></use>
          </svg>
      </button>
    </div>
  </div>
</header>
