<section id="products" class="products">
  <div class="container">
    <p class="products__text">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__list">
      <li class="products__item">
        <article class="products__card products__card-ice-cream">
          <!-- <div class="products__card-thumb"></div> -->

          <div class="products__card-footer">
            <h3 class="products__card-title">Ice cream</h3>
            <p class="products__card-text">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar
              and natural stabilizer
            </p>
            <button class="products__card-button" type="button">
              <svg class="products__card-arrow" width="40px" height="20px">
                <use
                  class="products__card-arrow-first"
                  href="./images/sprite.svg#icon-Arrow-3"
                ></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="products__card products__card-ice-coffee">
          <!-- <div class="products__card-thumb"></div> -->

          <div class="products__card-footer">
            <h3 class="products__card-title">Ice coffee</h3>
            <p class="products__card-text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
            <button class="products__card-button" type="button">
              <svg class="products__card-arrow" width="40px" height="20px">
                <use
                  class="products__card-arrow-first"
                  href="./images/sprite.svg#icon-Arrow-3"
                ></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="products__card products__card-milkshakes">
          <!-- <div class="products__card-thumb"></div> -->

          <div class="products__card-footer">
            <h3 class="products__card-title">Milkshakes</h3>
            <p class="products__card-text">
              Sweet drinks based on milk and ice cream, supplemented with
              syrups, fruits, berries and other sweets of your choice
            </p>
            <button class="products__card-button" type="button">
              <svg class="products__card-arrow" width="40px" height="20px">
                <use
                  class="products__card-arrow-first"
                  href="./images/sprite.svg#icon-Arrow-3"
                ></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
