<div class="mobile-menu" data-menu>
  <div class="container mobile-menu__box">
    <div class="mobile-menu__top">
      <a class="header__logo" href="./index.html">
        <img
          class="header__logo-img"
          src="./images/logo.png"
          alt="company logo"
        />
      </a>
      <button class="mobile-menu__close-btn" data-menu-close>
        <svg class="mobile-menu__close-icon" width="19" height="19">
          <use href="./images/sprite.svg#icon-modal-close-btn"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="./index.html">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#how-its-made">How it's made?</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#products">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu__button-box">
      <button type="button" class="mobile-menu__button" data-menu-close-5>
        Buy now &gt;
      </button>
    </div>
  </div>
</div>
